<table>
    <thead>
        <tr>
            <th>Student id</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Artifacts</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.getId() }}</td>
            <td>{{ student.getName() }}</td>
            <td>{{ student.getPossesedCoins() }}</td>
            <td>
                <div id="{{ student.getId() }}-student-artifacts" style="display: none">
                    {% for artifact in student.getOwnedArtifacts() %}
                        <p>{{ artifact }}</p>
                    {% endfor %}
                </div>
                <div id="{{ student.getId() }}-show" onclick="show('{{ student.getId() }}')" style="color:green;display: block">show</div>
                <div id="{{ student.getId() }}-hide" onclick="hide('{{ student.getId() }}')" style="color: green;display: none">hide</div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="/static/js/student-wallets.js"></script>